<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  block title
    title Índice
  block style
    link(rel="stylesheet", href="css/style.css")
  body
    .wrap
      header
        block header
          include ../_includes/_hl--header
      nav
        block menu
          include ../_includes/_hl--nav
      section
        block content
      section
        block back
          h1: a(href="hl_indice.html") Regresar 
      footer
        block footer
          include ../_includes/_hl--footer
