<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
  body
    .wrap
      h1 Curso de Bibliotecología 
      ul.ul--main
        li: a(href="hl_indice.html") Historia del libro
        li: a(href="bibl_sf.html") “Por qué nuestro futuro depende de las    bibliotecas, de la lectura y de soñar despiertos.”
