extend ../historia_libro
block title 
  title Importancia Bibliotecas
block header
  h1 “Por qué nuestro futuro depende de las bibliotecas, de la lectura y de soñar despiertos.”
block menu
block content
  include ../../_includes/_bibl_sf.jade
block back
  h2: a(href="index.html") Regresar 
block footer
